/* extra small screen */
@media screen and (max-width: 575px) {
  .nav-links {
    /* display: none; */
    position: absolute;
    top: -5000px;
    right: 0;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
  }

  .nav-links .list-item {
    width: 100%;
    margin-left: 0;
    text-align: center;
    border-top: 1px solid rgba(223, 224, 224, 0.63);
  }

  .nav-links .list-item a {
    display: block;
    padding: 15px 0;
    color: #000;
  }

  .nav-links .list-item img {
    width: 56px;
  }

  .top-players,
  .top-blog,
  .blog,
  .latest-courses {
    grid-template-columns: 1fr;
  }

  .blog {
    gap: 10px;
  }
}

/* small screen */
@media screen and (min-width: 576px) and (max-width: 767px) {
  .top-players,
  .latest-courses {
    grid-template-columns: repeat(2, 1fr);
  }

  .top-blog {
    grid-template-columns: 1fr;
  }

  .blog {
    grid-template-columns: 177px 1fr;
  }
}

/* medium screen */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .blog {
    gap: 10px;
  }
}
